<!--
 * @Author: Alfred Yang
 * @Github: https://github.com/cat-walk
 * @Date: 2019-10-12 15:13:41
 * @LastEditors: Alfred Yang
 * @LastEditTime: 2019-12-13 15:51:52
 * @Description: file content
 -->
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"
    />
    <link
      rel="stylesheet"
      href="//at.alicdn.com/t/font_1503438_8gyfu5pzngv.css"
    />
    <script src="https://unpkg.com/vconsole@latest/dist/vconsole.min.js"></script>
    <script>
      // 初始化
      var vConsole = new VConsole();
    </script>
  </head>

  <body>
    <div id="app"></div>
  </body>
</html>
