/*
 * @Author: Alfred Yang
 * @Github: https://github.com/cat-walk
 * @Date: 2019-10-14 17:20:56
 * @LastEditors: Alfred Yang
 * @LastEditTime: 2019-11-08 21:21:10
 * @Description: file content
 */
 .full-page-container {
  height: 100vh;
}

.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tip-color {
  color: #333;
}
