/*
 * @Author: Alfred Yang
 * @Github: https://github.com/cat-walk
 * @Date: 2019-10-14 17:20:56
 * @LastEditors: Alfred Yang
 * @LastEditTime: 2019-11-11 17:46:28
 * @Description: file content
 */
@buyColor: #07ac8f;
@sellColor: #d44a63;

.common-padding {
  padding: 5px;
}

.APP {
  background-color: #999;
}

.full-page-container {
  height: 100vh;
}

.page-title {
  text-align: center;
  font-size: 20px;
  margin: 20px;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tip-color {
  color: #333;
}

.card-title {
  color: #6a73ff;
  font-size: 18px;
  .common-padding;
}

.card-container {
  margin: 0 20px 20px;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background: #fff;
}

.page-wrapper {
  margin: 0 20px;
}

.trading-btn {
  border-radius: 16px;
  width: 80%;
  margin: 0 auto;
  color: #fff;
}

.buy-btn {
  background-color: @buyColor;
}

.sell-btn {
  background-color: @sellColor;
}

.item-label {
  display: inline-block;
  width: 30%;
  white-space: nowrap;
  vertical-align: middle;
}

.item-value {
  display: inline-block;
  width: 70%;
  vertical-align: middle;
  .ellipsis;
}

.round-btn {
  border-radius: 16px;
}

.am-modal {
  width: 300px;
  .am-activity-indicator-spinner {
    margin: 0 auto;
  }
}

.btn-container {
  margin-top: 20px;
}
